################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/test/UnitTest.LMS.Service/obj
/src/Web.LMS.Service/obj
*.user
